.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  @import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  font-family: 'Poppins', sans-serif;
}

#chart {
  max-width: 760px;
  margin: 35px auto;
  opacity: 0.9;
}

#timeline-chart .apexcharts-toolbar {
  opacity: 1;
  border: 0;
}
.table-header{
  background-color: red;
}
thead{
  color: white;
}
 